@model VehicleIndexViewModel
@{

    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

<div class="col-12 m-auto pt-3">

    <div class="row">
        <div class="col-8 my-2">
            <h4>Vehicle Inventory 
                @if (Model.IsFilterApplied)
                {
                    <small class="text-muted" style="font-size: 16px;">
                        (<a asp-action="Index" asp-controller="Vehicle">View All</a>)
                    </small>
                }
            </h4>
        </div>
        @*<div class="col-2">
            <form class="form-inline my-2" asp-action="Index" asp-controller="Cars" method="get">
                <div class="form-group">
                    <input type="text" class="form-control mr-sm-2" placeholder="Search Inventory" name="search" />
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </div>
            </form>
        </div>*@
        <table class="table table-striped mt-3 table-bordered">
            <thead class="thead-light" style="font-size: 14px; font-weight: 300;">
                <tr>
                    <th></th>
                    <th>VIN</th>
                    <th>Year</th>
                    <th>Make</th>
                    <th>Model</th>
                    <th>Mileage</th>
                    <th>Purchase Price</th>
                    <th>Purchase Date</th>
                    <th>Lot Date</th>
                    <th>Sale Price</th>
                    <th><a asp-action="Edit" asp-controller="Vehicle" class="btn-outline-info btn float-right">Add Vehicle</a></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var vehicle in Model.Vehicles)
                {
                    <tr>
                        @if (vehicle.MainPhoto != null)
                        {
                            <td>
                                <img src="@vehicle.MainPhoto.ImageUrl" height="100" width="100" />
                            </td>
                        }
                        else
                        {
                            <td>No Photo</td>
                        }
                        <td>@vehicle.VIN</td>
                        <td>@vehicle.Year</td>
                        <td>@vehicle.Make</td>
                        <td>@vehicle.Model</td>

                        <td>@vehicle.Mileage</td>
                        <td>@vehicle.PurchasePrice.ToString("c")</td>
                        <td>@vehicle.PurchaseDate.ToShortDateString()</td>
                        <td>@vehicle.LotDate.ToShortDateString()</td>
                        <td>@vehicle.SalePrice.ToString("c")</td>
                        <td>
                            <a asp-action="Details" asp-controller="vehicle" asp-route-id="@vehicle.VehicleId">View</a> |
                            <a asp-action="Edit" asp-controller="vehicle" asp-route-id="@vehicle.VehicleId">Edit</a> |
                            <a asp-action="ConfirmDelete" asp-controller="vehicle" asp-route-id="@vehicle.VehicleId" class="text-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        @if (Model.Pagination.TotalPages > 1)
        {
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" asp-ation="Index" asp-route-page="1">First Page</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" asp-ation="Index" asp-route-page="@Model.Pagination.PrevPage">Prev</a>
                    </li>



                    <li class="page-item">
                        <a class="page-link" asp-ation="Index" asp-route-page="@Model.Pagination.NextPage">Next</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" asp-ation="Index" asp-route-page="@Model.Pagination.LastPage">Last Page</a>
                    </li>
                </ul>
            </nav>
        }

    </div>

</div>