@model HomeViewModel
@{
    ViewData["Title"] = "TheCarHub";
}

<div class="section-area col-12">
    <div class="text-center">
        <div class="jumbotron">
            <h1 class="display-3">TheCarHub</h1>
            <p class="lead">We can help you find your next vehicle.</p>

            <p class="lead mt-5">
                <a class="btn btn-primary btn-lg" asp-action="Index" asp-controller="Inventory" role="button">View Inventory</a>
            </p>
        </div>
    </div>
</div>

<div class="section-area">
    <div class="row">
        <div class="col-6">
            <h2>Why choose us?</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent suscipit erat eros, eu pharetra urna sollicitudin sed. Pellentesque sem ex, ullamcorper a eleifend non, accumsan nec diam. Aliquam erat volutpat. Sed luctus ut ante sed elementum. Donec scelerisque tortor ut ultrices vehicula. Vestibulum egestas augue ac rhoncus convallis. Ut et justo sit amet felis suscipit porttitor.
            </p>
        </div>
        <div class="col-6 text-center">
            <img src="~/img/dealer-new-cars-stock_1426-1190.jpg" style="border: 1px solid #000; height: 300px; border-radius: 5px;" />
        </div>
    </div>
</div>

<div class="section-area">
    <h3>Latest Additions</h3>
    <div class="row pt-5">
        @if (Model.VehiclesForSale.Any())
        {
            @foreach (var vehicle in Model.VehiclesForSale)
            {
                <div class="card text-white bg-primary mb-3 col-4">
                    <div class="card-header">@vehicle.FullVehicleName</div>
                    <div class="card-body">
                        <h4 class="card-title">@vehicle.SalePrice.ToString("c")</h4>
                        
                        <a asp-action="Details" asp-controller="Inventory" asp-route-id="@vehicle.VehicleId">

                            @if (vehicle.MainPhoto != null)
                            {
                                <img src="@vehicle.MainPhoto.ImageUrl" height="200" width="300" />
                            }
                            else
                            {
                                <img src="~/img/car-suv-blank.png" height="200" width="300" />
                            }
                        </a>
                        @if (!String.IsNullOrEmpty(vehicle.Mileage))
                        {
                            <p class="card-text pt-3">
                                @vehicle.Mileage mile(s)
                            </p>
                        }


                    </div>
                    <div class="card-body">
                        <p class="card-text pt-3">
                            <a asp-action="Details" asp-controller="Inventory" asp-route-id="@vehicle.VehicleId" class="card-link text-white">Details</a>
                            <a asp-action="Contact" asp-controller="Home" asp-route-vehicleId="@vehicle.VehicleId" class="card-link text-white">Contact Us</a>
                        </p>
                    </div>
                </div>
            }

        }
    </div>
    
</div>


    <h3 class="mt-5">Browse By Price Range</h3>
    <hr />
    <div class="row pt-5 p-3">
        <ul class="list-inline">
            <li class="list-inline-item">
                <h5>
                    <a asp-controller="Inventory" asp-action="Index" asp-route-minPrice="500" asp-route-maxPrice="2000">
                        $500-$2,000
                    </a> /
                </h5>
            </li>
            <li class="list-inline-item">
                <h5>
                    <a asp-controller="Inventory" asp-action="Index" asp-route-minPrice="2000" asp-route-maxPrice="5000">
                        $2,000-$5,000
                    </a> /
                </h5>
            </li>
            <li class="list-inline-item">
                <h5>
                    <a asp-controller="Inventory" asp-action="Index" asp-route-minPrice="5000" asp-route-maxPrice="10000">
                        $5,000-$10,000
                    </a> /
                </h5>
            </li>
            <li class="list-inline-item">
                <h5>
                    <a asp-controller="Inventory" asp-action="Index" asp-route-minPrice="10000">
                        $10,000+
                    </a> /
                </h5>
            </li>
        </ul>
    </div>

