@model  VehicleViewModel
<div class="form-row">
    <div class="col-9">
        <h5 class="text-muted pt-1 pb-3">Invoice</h5>
    </div>
    <div class="col-3">

    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-3">
        <label asp-for="Invoice.InvoiceNumber" class="col-form-label">Invoice Number</label>
        <input asp-for="Invoice.InvoiceNumber" class="form-control form-control-sm" disabled />
    </div>
    <div class="form-group col-md-5">
        <label asp-for="Invoice.CustomerName" class="col-form-label">Customer Name</label>
        <input asp-for="Invoice.CustomerName" class="form-control form-control-sm" disabled />

    </div>

</div>

<div class="form-row">
    <div class="form-group col-md-3">
        <label asp-for="Invoice.PriceSold" class="col-form-label">Price Sold</label>
        <input asp-for="Invoice.PriceSold" class="form-control form-control-sm" disabled />

    </div>
    <div class="form-group col-md-4">
        <label asp-for="Invoice.DateSold" class="col-form-label">Date Sold</label>
        <input asp-for="Invoice.DateSold" class="form-control form-control-sm" type="date" disabled />

    </div>
</div>

<hr />
<div class="form-group">
    @if (Model.Invoice != null)
    {

        <a asp-controller="Invoice" asp-action="Edit" asp-route-vehicleId="@Model.VehicleId" asp-route-id="@Model.Invoice.InvoiceId" class="btn btn-info">Edit Invoice</a>
        <a asp-controller="Invoice" asp-action="ConfirmDelete" asp-route-vehicleId="@Model.VehicleId" asp-route-id="@Model.Invoice.InvoiceId" class="btn btn-outline-danger">Delete Invoice</a>


    }
    else
    {
        <a asp-controller="Invoice" asp-action="Edit" asp-route-vehicleId="@Model.VehicleId" class="btn btn-primary">Add Invoice</a>
    }
</div>