@model VehicleViewModel

<div class="form-row">
    <div class="col-9">
        <h5 class="text-muted pt-1 pb-3">Repair Information</h5>
    </div>
    <div class="col-3">
        <p>Total Repair Costs: @Model.TotalRepairCosts.ToString("c")</p>
    </div>
</div>
<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th>Name</th>
            <th>Cost</th>
            <th>Repair Date</th>
            <th>Details</th>
            <th>
                <a asp-action="Add" asp-controller="Repair" asp-route-id="@Model.VehicleId" class="btn-secondary btn float-right">Add Repair</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var repair in Model.Repairs)
        {
            <tr>
                <td>@repair.Description</td>
                <td>@repair.Cost.ToString("c")</td>
                <td>@repair.RepairDate?.ToShortDateString()</td>
                <td>@repair.Details</td>
                <td>
                    <div class="float-right">
                        <a asp-action="Edit" asp-controller="Repair" asp-route-id="@repair.RepairId" asp-route-vehicleId="@Model.VehicleId">Edit</a> | 
                        <a asp-action="ConfirmDelete" asp-controller="Repair" asp-route-id="@repair.RepairId" asp-route-vehicleId="@Model.VehicleId" class="text-danger">Delete</a>
                    </div>
                    
                </td>
            </tr>
        }
    </tbody>
</table>